<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
	Toolbar
  </a>
<ng-container *ngFor="let item of items" [ngSwitch]="item.type">
  <app-drop-down
	*ngSwitchCase="'dropDown'"
	[config]="item.config"
	(onClickEvent)="onDropDownClick($event, item)">
  </app-drop-down>
  <app-state-button
	*ngSwitchCase="'stateButton'"
	[config]="item.config"
	(onClickEvent)="onButtonClick($event, item)">
  </app-state-button>
  <app-radio-buttons
	*ngSwitchCase="'radioButtons'"
	[config]="item.config"
	(onClickEvent)="onRadioClick($event, item)">
  </app-radio-buttons>
  <app-url-button
	*ngSwitchCase="'urlButton'"
	[config]="item.config">
  </app-url-button>
</ng-container>
</nav>
