<nav class="navbar navbar-light bg-light text-left navbar-expand-md">
  <a class="navbar-brand" href="#">
	Toolbar
  </a>
  <ul class="navbar-nav mr-auto">
	<li class="nav-item px-2">
	  <ng-container *ngFor="let item of items" [ngSwitch]="item.type">
		<app-drop-down
		  *ngSwitchCase="'dropDown'"
		  [config]="item.config"
		  (onClickEvent)="onDropDownClick($event, item)">
		</app-drop-down>
	  </ng-container>
	</li>
	<li class="nav-item px-2">
	  <div class="btn-group btn-group-toggle">
		<ng-container *ngFor="let item of items" [ngSwitch]="item.type">
		  <app-state-button
			*ngSwitchCase="'stateButton'"
			[config]="item.config"
			(onClickEvent)="onButtonClick($event, item)">
		  </app-state-button>
		</ng-container>
	  </div>
	</li>
	<li class="nav-item px-2">
	<ng-container *ngFor="let item of items" [ngSwitch]="item.type">
	  <app-radio-buttons
		*ngSwitchCase="'radioButtons'"
					   [config]="item.config"
					   (onClickEvent)="onRadioClick($event, item)">
	  </app-radio-buttons>
	</ng-container>
	</li>
  </ul>
  <ul class="navbar-nav ml-auto">
	<ng-container *ngFor="let item of items" [ngSwitch]="item.type">
	  <li class="nav-item px-2">
		<app-url-button
		  *ngSwitchCase="'urlButton'"
		  [config]="item.config">
		</app-url-button>
	  </li>
	</ng-container>
  </ul>
</nav>
