<p [class.text-bold]="bold" [class.text-italicized]="italicized">
Lorem ipsum dolor sit amet, sit diceret gloriatur deterruisset an, sed libris possim eu. No decore disputando his, quo ea nonumes deleniti repudiare. Quo eu ridens everti scriptorem. In mel commodo laoreet, quo dico illum primis an. Altera molestie ex sed, et per lorem prompta, cum at splendide urbanitas.

Ei sit detracto complectitur. Ad mea natum dolorem. Verear euripidis an qui. Qui assum adolescens eu. Ne vel rebum efficiantur.

Has cu eros altera. Ei putant reprimique deterruisset sed, everti nostrud duo et. Ei has falli dissentias, vis facer liber sadipscing at, vim graece atomorum mediocritatem eu. Per causae omnesque at. No duo vidit mollis, purto animal concludaturque usu ea, an ius omnis posse iuvaret.

Nam ne cetero petentium, elit ponderum nam et, stet omnis indoctum ut mel. Has eu congue delectus indoctum, omnis soleat consequuntur ad sit, te perfecto efficiendi his. No quem volumus liberavisse qui, cu eos esse sanctus ancillae, ex duis elitr eam. Ut habeo etiam recteque est. Et his error legimus suscipit. Cu corpora mentitum mea.

Choro discere perfecto eum te, an eos ignota everti, nam eu quaestio elaboraret. Vis eu iriure equidem, per vitae putant adversarium ne. Sed indoctum complectitur ex, mei errem epicurei scripserit eu, autem audire forensibus eum et. Ullum causae molestiae cu eum, vis impetus sapientem eu.

Nominavi lucilius duo in, sed tollit ceteros praesent id. Vidit inani ea eam. Ei eum iuvaret qualisque reformidans, mel id habeo error. Eu dico accusata tractatos pro, ei eum omnium audire maiorum. Eam purto primis te, pro at suas legere, at vim iuvaret splendide. Mel minim propriae lucilius in.

Ut vis mutat nonumes invenire. Ut pro esse concludaturque, falli malorum ad usu. Erant clita inermis id usu, legere iriure facilis vim ut, has saepe senserit persecuti id. Quo ex rebum doming, nisl ornatus detracto cum no. Quis doming adipiscing te nam. Vis ne ferri illum maiestatis, sea ancillae maluisset ut, ei vidit debet dolorum has. Legendos suscipiantur definitionem cu mea, eam id melius voluptatum.</p>
